
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon_162a16fe.eot") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-download:before { content: "\f100"; }
.flaticon-web:before { content: "\f101"; }
.flaticon-trophy-1:before { content: "\f102"; }
.flaticon-cup:before { content: "\f103"; }
.flaticon-trophy:before { content: "\f104"; }
.flaticon-interface-3:before { content: "\f105"; }
.flaticon-notebook:before { content: "\f106"; }
.flaticon-user-3:before { content: "\f107"; }
.flaticon-graphic-1:before { content: "\f108"; }
.flaticon-bar-chart:before { content: "\f109"; }
.flaticon-arrows-9:before { content: "\f10a"; }
.flaticon-coin:before { content: "\f10b"; }
.flaticon-travel-1:before { content: "\f10c"; }
.flaticon-travel:before { content: "\f10d"; }
.flaticon-calculator-1:before { content: "\f10e"; }
.flaticon-calculator:before { content: "\f10f"; }
.flaticon-back-2:before { content: "\f110"; }
.flaticon-back-1:before { content: "\f111"; }
.flaticon-left-arrow-2:before { content: "\f112"; }
.flaticon-left-arrow-1:before { content: "\f113"; }
.flaticon-placeholder-1:before { content: "\f114"; }
.flaticon-placeholder:before { content: "\f115"; }
.flaticon-right-arrow:before { content: "\f116"; }
.flaticon-map:before { content: "\f117"; }
.flaticon-left-quotes-sign:before { content: "\f118"; }
.flaticon-left-quote-1:before { content: "\f119"; }
.flaticon-legal-hammer:before { content: "\f11a"; }
.flaticon-idea:before { content: "\f11b"; }
.flaticon-shopping-cart-1:before { content: "\f11c"; }
.flaticon-padlock-2:before { content: "\f11d"; }
.flaticon-home-1:before { content: "\f11e"; }
.flaticon-arrows-8:before { content: "\f11f"; }
.flaticon-file-1:before { content: "\f120"; }
.flaticon-settings-2:before { content: "\f121"; }
.flaticon-envelope-2:before { content: "\f122"; }
.flaticon-planet-earth:before { content: "\f123"; }
.flaticon-eye:before { content: "\f124"; }
.flaticon-interface-2:before { content: "\f125"; }
.flaticon-edit-1:before { content: "\f126"; }
.flaticon-calendar-3:before { content: "\f127"; }
.flaticon-raindrop:before { content: "\f128"; }
.flaticon-medal:before { content: "\f129"; }
.flaticon-smartphone-1:before { content: "\f12a"; }
.flaticon-communication:before { content: "\f12b"; }
.flaticon-user-2:before { content: "\f12c"; }
.flaticon-technology-1:before { content: "\f12d"; }
.flaticon-arrows-7:before { content: "\f12e"; }
.flaticon-arrows-6:before { content: "\f12f"; }
.flaticon-speech-bubble-1:before { content: "\f130"; }
.flaticon-heart-1:before { content: "\f131"; }
.flaticon-paper-plane-1:before { content: "\f132"; }
.flaticon-star-2:before { content: "\f133"; }
.flaticon-user-1:before { content: "\f134"; }
.flaticon-previous:before { content: "\f135"; }
.flaticon-arrows-5:before { content: "\f136"; }
.flaticon-padlock-1:before { content: "\f137"; }
.flaticon-right-arrow-2:before { content: "\f138"; }
.flaticon-login:before { content: "\f139"; }
.flaticon-list-1:before { content: "\f13a"; }
.flaticon-drop:before { content: "\f13b"; }
.flaticon-unlink:before { content: "\f13c"; }
.flaticon-like-1:before { content: "\f13d"; }
.flaticon-interface-1:before { content: "\f13e"; }
.flaticon-play-button-1:before { content: "\f13f"; }
.flaticon-file:before { content: "\f140"; }
.flaticon-calendar-2:before { content: "\f141"; }
.flaticon-business-2:before { content: "\f142"; }
.flaticon-briefcase:before { content: "\f143"; }
.flaticon-menu-1:before { content: "\f144"; }
.flaticon-calendar-1:before { content: "\f145"; }
.flaticon-glasses:before { content: "\f146"; }
.flaticon-cancel-1:before { content: "\f147"; }
.flaticon-envelope-1:before { content: "\f148"; }
.flaticon-shopping-bag:before { content: "\f149"; }
.flaticon-speaker:before { content: "\f14a"; }
.flaticon-monitor:before { content: "\f14b"; }
.flaticon-piggy-bank-1:before { content: "\f14c"; }
.flaticon-shopping-cart:before { content: "\f14d"; }
.flaticon-phone-call-1:before { content: "\f14e"; }
.flaticon-house:before { content: "\f14f"; }
.flaticon-share:before { content: "\f150"; }
.flaticon-musical-note:before { content: "\f151"; }
.flaticon-back:before { content: "\f152"; }
.flaticon-next-1:before { content: "\f153"; }
.flaticon-avatar:before { content: "\f154"; }
.flaticon-pie-chart:before { content: "\f155"; }
.flaticon-edit:before { content: "\f156"; }
.flaticon-star-1:before { content: "\f157"; }
.flaticon-padlock:before { content: "\f158"; }
.flaticon-magnifying-glass-1:before { content: "\f159"; }
.flaticon-like:before { content: "\f15a"; }
.flaticon-settings-1:before { content: "\f15b"; }
.flaticon-heart:before { content: "\f15c"; }
.flaticon-next:before { content: "\f15d"; }
.flaticon-garbage:before { content: "\f15e"; }
.flaticon-piggy-bank:before { content: "\f15f"; }
.flaticon-unchecked:before { content: "\f160"; }
.flaticon-profile:before { content: "\f161"; }
.flaticon-right-arrow-1:before { content: "\f162"; }
.flaticon-interface:before { content: "\f163"; }
.flaticon-arrows-4:before { content: "\f164"; }
.flaticon-power:before { content: "\f165"; }
.flaticon-magnifying-glass:before { content: "\f166"; }
.flaticon-light-bulb:before { content: "\f167"; }
.flaticon-smartphone:before { content: "\f168"; }
.flaticon-list:before { content: "\f169"; }
.flaticon-time:before { content: "\f16a"; }
.flaticon-check-square:before { content: "\f16b"; }
.flaticon-arrows-3:before { content: "\f16c"; }
.flaticon-world:before { content: "\f16d"; }
.flaticon-minus-symbol:before { content: "\f16e"; }
.flaticon-plus-symbol:before { content: "\f16f"; }
.flaticon-clock-2:before { content: "\f170"; }
.flaticon-download-arrow-1:before { content: "\f171"; }
.flaticon-download-arrow:before { content: "\f172"; }
.flaticon-open-lock:before { content: "\f173"; }
.flaticon-settings:before { content: "\f174"; }
.flaticon-paper-plane:before { content: "\f175"; }
.flaticon-user:before { content: "\f176"; }
.flaticon-envelope:before { content: "\f177"; }
.flaticon-play-button:before { content: "\f178"; }
.flaticon-star:before { content: "\f179"; }
.flaticon-up-arrow-1:before { content: "\f17a"; }
.flaticon-pin:before { content: "\f17b"; }
.flaticon-arrows-2:before { content: "\f17c"; }
.flaticon-commenting:before { content: "\f17d"; }
.flaticon-technology:before { content: "\f17e"; }
.flaticon-blank-paper:before { content: "\f17f"; }
.flaticon-empty-email:before { content: "\f180"; }
.flaticon-danger:before { content: "\f181"; }
.flaticon-graphic:before { content: "\f182"; }
.flaticon-magnifying-glass-browser:before { content: "\f183"; }
.flaticon-menu-options:before { content: "\f184"; }
.flaticon-web-page-home:before { content: "\f185"; }
.flaticon-location-pin:before { content: "\f186"; }
.flaticon-business-1:before { content: "\f187"; }
.flaticon-clock-1:before { content: "\f188"; }
.flaticon-boat-anchor-1:before { content: "\f189"; }
.flaticon-house-outline:before { content: "\f18a"; }
.flaticon-rubbish-bin:before { content: "\f18b"; }
.flaticon-calendar:before { content: "\f18c"; }
.flaticon-reply-all-button:before { content: "\f18d"; }
.flaticon-check-symbol:before { content: "\f18e"; }
.flaticon-menu-button:before { content: "\f18f"; }
.flaticon-arrows-1:before { content: "\f190"; }
.flaticon-left-quote:before { content: "\f191"; }
.flaticon-right-quotation-sign:before { content: "\f192"; }
.flaticon-tag-black-symbol:before { content: "\f193"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f194"; }
.flaticon-questions-circular-button:before { content: "\f195"; }
.flaticon-wifi-connection-signal-symbol:before { content: "\f196"; }
.flaticon-map-marker:before { content: "\f197"; }
.flaticon-graph:before { content: "\f198"; }
.flaticon-home:before { content: "\f199"; }
.flaticon-tag-black-shape:before { content: "\f19a"; }
.flaticon-tags:before { content: "\f19b"; }
.flaticon-check:before { content: "\f19c"; }
.flaticon-user-shape:before { content: "\f19d"; }
.flaticon-telephone-handle-silhouette:before { content: "\f19e"; }
.flaticon-right-quotation-mark:before { content: "\f19f"; }
.flaticon-comments:before { content: "\f1a0"; }
.flaticon-thumbs-up:before { content: "\f1a1"; }
.flaticon-arrows:before { content: "\f1a2"; }
.flaticon-earth:before { content: "\f1a3"; }
.flaticon-pdf:before { content: "\f1a4"; }
.flaticon-e-mail-envelope:before { content: "\f1a5"; }
.flaticon-go-back-arrow:before { content: "\f1a6"; }
.flaticon-boat-anchor:before { content: "\f1a7"; }
.flaticon-send-message-button:before { content: "\f1a8"; }
.flaticon-atom-symbol:before { content: "\f1a9"; }
.flaticon-boat-lifesaver:before { content: "\f1aa"; }
.flaticon-checked-box:before { content: "\f1ab"; }
.flaticon-business:before { content: "\f1ac"; }
.flaticon-arrow:before { content: "\f1ad"; }
.flaticon-home-page:before { content: "\f1ae"; }
.flaticon-search-1:before { content: "\f1af"; }
.flaticon-users:before { content: "\f1b0"; }
.flaticon-internet:before { content: "\f1b1"; }
.flaticon-phone-call:before { content: "\f1b2"; }
.flaticon-worker:before { content: "\f1b3"; }
.flaticon-favorite-1:before { content: "\f1b4"; }
.flaticon-favorite:before { content: "\f1b5"; }
.flaticon-plus:before { content: "\f1b6"; }
.flaticon-minus:before { content: "\f1b7"; }
.flaticon-checked:before { content: "\f1b8"; }
.flaticon-social:before { content: "\f1b9"; }
.flaticon-menu:before { content: "\f1ba"; }
.flaticon-wifi:before { content: "\f1bb"; }
.flaticon-bag:before { content: "\f1bc"; }
.flaticon-clip:before { content: "\f1bd"; }
.flaticon-up-arrow:before { content: "\f1be"; }
.flaticon-cancel:before { content: "\f1bf"; }
.flaticon-left-arrow:before { content: "\f1c0"; }
.flaticon-down-arrow:before { content: "\f1c1"; }
.flaticon-layout:before { content: "\f1c2"; }
.flaticon-search:before { content: "\f1c3"; }
.flaticon-clock:before { content: "\f1c4"; }
.flaticon-speech-bubble:before { content: "\f1c5"; }
.flaticon-link:before { content: "\f1c6"; }
.flaticon-eye-open:before { content: "\f1c7"; }