/* LambdaDigital - A technology & business consulting company */


@media only screen and (max-width: 1300px){
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	.fluid-section .testimonial-column .inner .testimonial-inner{
		margin-left:30px;
	}
}
@media only screen and (max-width: 1140px){
	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}
	
	.main-header.header-style-three .header-upper .upper-right .main-menu{
		text-align:left;
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:10px 25px;
		float:none;
		text-align:left;
	}
	
	.main-header .header-upper .info-box::after{
		display:none;	
	}
	
	.main-header .social-links-one{
		top:-10px;	
	}
	
	.fluid-section .content-column .inner{
		padding-left:15px;
		padding-bottom:50px;
	}
	
	.services-block-one .inner-box .lower-box .text{
		font-size:16px;
	}
	
	.services-info-section .content-column .inner{
		padding-left:0px;
	}
	
	.sec-title h2{
		font-size:30px;
	}
	
	.services-block-three .inner-box .lower-content .upper-box .arrow-box{
		top:0px;
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .outer-box{
		display:none;	
	}
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-menu .navigation > li{
		margin-right:12px;
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		padding-right:15px;
	}
	
	.sticky-header,
	.services-section-three .big-icon-box,
	.fluid-section .background-image,
	.fluid-section .background-image::before{
		display:none;	
	}
	
	.main-footer .links-widget,
	.about-column.welcome .inner{
		padding-left:0px;	
	}
	
	.main-footer .upper-box .footer-info-box:nth-child(3n + 0),
	.main-footer .upper-box .footer-info-box:nth-child(2n){
		text-align:left;
	}
	
	.main-footer .upper-box .footer-info-box{
		border:0px;
	}
	
	.main-footer .footer-bottom div,
	.main-footer .upper-box,
	.call-to-action .column,
	.services-single .lower-box .consult-box .column{
		text-align:center;
	}
	
	.fluid-section .testimonial-column .inner{
		padding:80px 0px 0px;
	}
	
	.fluid-section .testimonial-column .inner .testimonial-inner{
		max-width: 100%;
	    margin-right: 30px;
	    width: auto;
	}

	.main-menu .navigation > li a{
		background:none;
	}

	.main-footer .upper-box div,
	.services-single .lower-box .consult-box .column{
		float:none !important;
	}
	
	.services-block-one .inner-box .lower-box .text{
		font-size:18px;
	}
	
	.team-section .all-members{
		margin-top:0px;
		margin-bottom:30px;
	}
	
	.services-info-section .image-column .inner{
		padding-right:0px;
	}
	
	.list-style-two li{
		font-size:15px;
	}
	
	.consultation-section .content-box .content-column,
	.consultation-section .content-box .form-column{
		width:100%;
	}
	
	.consultation-section{
		padding:100px 0px;	
	}
	
}

@media only screen and (max-width: 767px){
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header .btn-outer{
		border: 0 none;
		right: auto;
		text-align: left;
		top: 0;
		width: auto;
		z-index: 14;
	}
	
	.main-header .btn-outer .quote-btn{
		margin-top:8px;	
	}
	
	.header-main-box .nav-outer .search-box-btn{
		top:15px;
		right:60px;
		margin-top:0px;
		z-index:20;
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li {
		display: inline-block;
		float: none;
	}

	.header-upper .logo-outer{
		display: block;
		width: 100%;
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:10px;
		max-width:none;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		margin:0 auto 25px;	
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:left;
		width:100%;
		padding:13px 0px 14px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #ffae11;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#ffae11;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#ffae11;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#ffae11;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#ffae11;
		text-align:left;
		min-height:0px;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ffae11;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#ffae11;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.sec-title h2 br{
		display:none !important;	
	}
	
	.main-header .social-links-one{
		top:0px;
	}
	
	.main-slider,
	.page-title{
		margin-top:0px !important;	
	}
	
	.main-slider .tp-caption,
	.featured-info-block .inner-box .icon-box:after{
		display:none !important;	
	}
	
	.main-header .top-right .links-nav li{
		margin-left:5px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:38px;
		left:100%;
	}
	
	.main-header .outer-box{
		display:block;
		right:-15px;
		z-index:12;
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		height:60px;
	}
	
	.main-header .search-form .form-group input[type="submit"],
	.main-header .search-form button{
		line-height:60px;	
	}
	
	.sec-title h2,
	.fluid-section .content-column .inner h2{
		font-size:30px;
	}
	
	.call-to-action-two h2{
		font-size:32px;
	}
	
	.services-section .services-btn{
		margin-top:0px;
		margin-bottom:20px;
	}
	
	.services-block-two .inner-box,
	.client-box .inner-box{
		padding:30px 20px;
		text-align:center;
	}
	
	.services-block-two .inner-box .icon-box,
	.client-box .inner-box .icon-box{
		position:relative;
		left:auto;
		top:auto;
		margin:0 auto;
		margin-bottom:20px;
	}
	
	.default-section .column .inner .author-info{
		margin-bottom:20px;
	}
	
	.main-footer .footer-bottom div,
	.featured-info-block .inner-box{
		text-align:center;
	}
	
	.fluid-section .content-column .inner h2{
		text-align:center;	
	}
	
	.fluid-section .content-column .inner h2:before,
	.fluid-section .content-column .inner h2:after{
		display:none;	
	}
	
	.testimonial-style-one .quote-icon,
	.featured-info-block .inner-box .icon-box{
		position:relative;
		margin:0 auto;
		margin-bottom:20px;
	}
	
	.testimonial-box .inner-box{
		padding:0px;
		text-align:center;
	}
	
	.testimonial-box,
	.featured-info-block .inner-box,
	.sidebar-page-container .comments-area .comment,
	.sidebar-page-container .comments-area .reply-comment{
		padding-left:0px;
	}
	
	.fluid-section .testimonial-column .inner .testimonial-inner{
		padding:0px 20px 30px;
	}
	
	.fluid-section .testimonial-column .inner .testimonial-inner .quote-icon{
		position: relative;
		left: auto;
		top: auto;
		top:-25px;
		margin: 0px;
		margin: 0 auto;
	}
	
	.fluid-section .testimonial-column .inner .testimonial-inner{
		margin-left:0px;
		margin-right:0px;
	}
	
	.page-title h1{
		font-size:40px;
	}	

	.news-style-one .inner .lower-box h3,
	.news-style-three .inner-box .lower-box h3{
		font-size:20px;
		line-height:1.6em;
	}

	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		margin-bottom:20px;
		top:0px;
	}

	.social-icon-three .share{
		margin-right:10px;
	}
	
	.contact-form-section .contact-content h3,
	.contact-form-section .column h2{
		font-size:30px;
	}

	.contact-info-box .inner-box .info-content{
		margin-left:0px;
		border:0px;
		text-align:center;
		padding:0px;
	}
	
	.contact-info-box .inner-box .icon-box{
		position:relative;
		left:0px;
		top:0px;
		text-align:center;
		margin-bottom:15px;
	}

}

@media only screen and (max-width: 599px){
	
	.main-header .social-links-one{
		top:0px;
	}

	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		width:230px;
	}
	
	.consultation-section .content-box .form-column,
	.consultation-section .content-box .content-column{
		padding:40px 20px 20px;
	}
	
	.consulting-form button{
		padding:11px 22px;
	}
	
	.news-section .owl-nav{
		display:none;
	}
	
	.default-section .column .inner .signature{
		width:100%;
		float:none;
		display:block;
		margin-bottom:30px;
	}
	
	.services-block-three .inner-box .lower-content{
		padding:20px 20px 22px;
	}
	
	.social-icon-three a{
		border-top:1px solid #f3f3f3;
	}
	
	.prod-tabs .tab-btns .tab-btn{
		display:block;
		width:100%;
		margin:0px 0px 10px;
		text-align:center;
		border:1px solid #e0e0e0;
	}
	
}

@media only screen and (max-width: 499px) {
	.main-header .header-upper .upper-column.info-box{
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.services-block-one .inner-box .lower-box{
		padding:20px 20px;
	}
	
	.services-block-one .inner-box .lower-box .text{
		font-size:16px;
	}
	
	.gallery-section .filters li{
		margin-right:10px;
		font-size:15px;
	}
	
	.project-single .upper-box h2{
		font-size:20px;
	}
	
	.project-single .graph-block .stats-box .pull-left,
	.project-single .graph-block .stats-box .pull-right{
		width:100%;
		text-align:center;	
	}
	
	.project-single .graph-block .stats-box ul li{
		width:100%;
		margin:0px 0px 20px;
		text-align:center;	
	}
	
	.services-block-three .inner-box .lower-content .upper-box .arrow-box{
		position:relative;
		top:0px;
		margin-bottom:10px;
	}
	
	.accordion-box .block .acc-btn{
		font-size:16px;
	}
	
}